header {
  text-align:center;
  color: #fff;
  font-family: 'Fredericka the Great', cursive;
  font-size: 30px;
  line-height: .5;
  background-color: #323256;
  padding: 25px 25px 30px 30px;
}

.sectiontitle {
  font-family: 'Poiret One', sans-serif;
  font-size: 30px;
  line-height: .75;
  color: #323256;
  background-color: #a7adb7;
  padding: 25px 25px 30px 30px;
}

#footer {
    color: #fff;
    background-color:#323256;
    font-family: 'Roboto', sans-serif;
    line-height: 1
    padding:25px 25px 25px 25px;
    text-align:right;
    clear: both
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #12121c;
  background: #fff;
  margin-left: 50px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 10px;
}

#wrap_right {
  margin: 0px 25px 25px 25px;
  float: right;
}

#wrap_left {
  margin: 0px 25px 25px 25px;
  float: left;
}
